@using Microsoft.AspNetCore.Html;
@inherits RazorSliceHttpResult<HtmlString?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Queuesim</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        async function drawChart(results) {
            const ctx = document.getElementById('myChart');
            const queueDepths = results.queueDepths;
            const running = results.running;
            const labels = queueDepths.map((x, i) => i);
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Queue Depth',
                    data: queueDepths,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                },
                {
                    label: 'Running',
                    data: running,
                    fill: false,
                    borderColor: 'rgb(192, 75, 75)',
                }]
            };

            new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        x: {
                            text: 'Timestamp (min)'
                        },
                        y: {
                            text: 'Items in Queue'
                        }
                    }
                }
            });
        }
    </script>
</head>

<body>
    <div style="width:80%;margin:auto;">
        <h1>QueueSim</h1>
        <div style="width:100%;display:block;">
            <form action="/run" method="get">
                <button style="float:left;">Run sim</button>
            </form>
        </div>
        <canvas id="myChart"></canvas>
    </div>
    @if (Model != null)
    {
        <script>
            drawChart(@Model);
        </script>
    }
</body>

</html>